
@{
    ViewBag.Title = "index";
    
    if(!Request.IsAjaxRequest())
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}

<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <img src="~/Content/img/businessschools-main-image_900x300.png" alt="">
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-4 column">
            <h2>Title</h2>
            <p>Love to play with owner's hair tie leave fur on owners clothes or jump off balcony, onto stranger's head peer out window, chatter at birds, lure them to mouth. Hunt by meowing loudly at 5am next to human slave food dispenser stare at the wall, play with food and get confused by dust kick up litter or present belly, scratch hand when stroked and attack feet. Ears back wide eyed eat grass, throw it back up flop over, or sleep on keyboard, yet sleep nap. Mark territory have secret plans.</p>
        </div>
        <div class="col-md-4 column">
            <h2>Title</h2>
            <p>Love to play with owner's hair tie leave fur on owners clothes or jump off balcony, onto stranger's head peer out window, chatter at birds, lure them to mouth. Hunt by meowing loudly at 5am next to human slave food dispenser stare at the wall, play with food and get confused by dust kick up litter or present belly, scratch hand when stroked and attack feet. Ears back wide eyed eat grass, throw it back up flop over, or sleep on keyboard, yet sleep nap. Mark territory have secret plans.</p>
        </div>
        <div class="col-md-4 column">
            <h2>Title</h2>
            <p>Love to play with owner's hair tie leave fur on owners clothes or jump off balcony, onto stranger's head peer out window, chatter at birds, lure them to mouth. Hunt by meowing loudly at 5am next to human slave food dispenser stare at the wall, play with food and get confused by dust kick up litter or present belly, scratch hand when stroked and attack feet. Ears back wide eyed eat grass, throw it back up flop over, or sleep on keyboard, yet sleep nap. Mark territory have secret plans.</p>
        </div>
    </div>
</div>

