
@{
    ViewBag.Title = "ThankYou";
    
    if(!Request.IsAjaxRequest())
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}

<h2>ThankYou</h2>
<div class="container-fluid" style="margin-top:110px;">
    <div class="col-md-3">
        <h4>Thank You so much for your input I will be back to you shortly.</h4>
    </div>
</div>

